<!DOCTYPE html>
<html>
  <head>
    <title>ClassManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/lib/semantic-ui/semantic.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/lib/semantic-ui/semantic.min', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
